settings.bak
sp.log
client.log
install-sh
compile
depcomp
missing
ref_sp
public
genome*
FASTA*
dataset*
interpreter/
win32/agent_win32.cpp
win32/agent_win32.h
backup/
memo.md
todo.txt
*.o
result.dat
sample*.dat
login*.ini
objdump*
rng_python/
sigstruct.dat
sp.cpp.bak*
